<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>
	
	<filter>
		<filter-name>LocaleFilter</filter-name>
		<filter-class>me.power.speed.huge.filter.LocaleFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LocaleFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 系统初始化servlet -->
	<servlet>
		<servlet-name>systeminit</servlet-name>
		<servlet-class>me.power.speed.huge.servlet.SystemInitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
        <servlet-name>readStream</servlet-name>
        <servlet-class>me.power.speed.huge.servlet.ReadStreamServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
	    <servlet-name>readStream</servlet-name>
	    <url-pattern>/huge/servlet/read/stream</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>threadStackTrace</servlet-name>
        <servlet-class>me.power.speed.huge.servlet.ThreadStackTraceServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
	    <servlet-name>threadStackTrace</servlet-name>
	    <url-pattern>/huge/servelt/thread/stacktrace</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/huge/*</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <!-- Any beans annotated with JAX-RS are automatically loaded (@Path...) -->
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.spring.SpringContextLoaderListener
        </listener-class>
    </listener>
    
</web-app>
