.classpath
.project
/target
/.settings
/.git

/speed-huge/.classpath
/speed-huge/.project
/speed-huge/.settings
/speed-huge/.git
/speed-huge/target

/speed-common/.classpath
/speed-common/.project
/speed-common/.settings
/speed-common/.git
/speed-common/target

/speed-batch/.classpath
/speed-batch/.project
/speed-batch/.settings
/speed-batch/.git
/speed-batch/target

/speed-batch/logs
/speed-common/logs
/speed-huge/logs
